[IMAGE] # Mandatory to launch the API
width in px = 800
height in px = 400
ratio in px/m = 6
Radius in m = 100

[CONFIDENCE] # Mandatory to launch the API
model_path = ../models/binary_model.sav
test_set_file = ../models/201216_Fichier Cadastre surface.csv
train_set_file = ../models/test_data/201216_Fichier Cadastre surface.csv
result_output = ../models/results.csv

[DATA]
data_path = ../data/
static_path = ../static/

[BATCH] # Only to perform batch computation
input = ../test/test_data/coords.csv
output = ../test/test_data/output.json
